/***********************************************************************
/* einige style-Klassen für verschiedene Elemente                      *
/***********************************************************************/
.gerahmt { border:1px solid rgb(110,110,110);padding:4px;} /* color:rgb(100,100,100);}*/
.gerahmt_bold { border:1px solid rgb(110,110,110);padding:4px; font-size:80%; font-weight:bold;} /* color:rgb(100,100,100);}*/
.zentriert_gerahmt {border:1px solid rgb(128,128,128); text-align:center;}
.gestrichelt { border:1px dashed rgb(110,110,110);padding:4px;}
.box { padding:4px;}
.fzg {border:1px solid rgb(128,128,128); text-align:center; font-weight:bold} /* fett, zentriert, gerahmt */
.fzgb {border:1px solid rgb(128,128,128); text-align:center; font-weight:bold; color:green}  /* fett, zentriert, gerahmt, bunte Schrift */
.zgo {border:1px solid rgb(128,128,128); text-align:center; background-color:rgb(255,255,128);}  /* zentriert, gerahmt, Hintergrundfarbe für ungerade Zeilen */
.lgo {border:1px solid rgb(128,128,128); text-align:left; background-color:rgb(255,255,200);}  /* linksbünig, gerahmt, Hintergrundfarbe für ungerade Zeilen */
.flg {border:1px solid rgb(128,128,128); text-align:left; font-weight:bold} /* fett, linksbündig, gerahmt */
.lg {border:1px solid rgb(128,128,128); text-align:left;} /* linksbündig, gerahmt */
.linkbox { border:1px solid rgb(227,227,227); padding:4px;}
.emph {color:#00008B; font-weight:bold; }
.small_right {text-align:right; font-size:80%; padding:5px;}
.ws {width:50px; height:1px; border:0; alt:"";} /* whitespace image */
.text_top {vertical-align:top; }

/* html, body */
html, body {
   height: 100%;   /* nur dann lassen sich Tabellen mit 100% Höhe erzeugen */
}

/** IE-Hack */
* html, * html body{
	height:100%;
	width:760px;
}
body, td, div, h1, h2, h3, blockquote, ul, li, p, dl, dt, dd , a{
   /* NS4 bug:
   Der NS4 vererbt die font-family, color und viele weitere Einstellungen nicht
   an die Child-Elemente. Daher werden die Werte für einige Attribute von Hand
   gesetzt.
   */
   font-family: Arial, sans-serif;
}
body{
	background-color:rgb(233,233,233);
}

h2{
	color:red;
	font-size:26px;
	font-weight:bold;
	text-align:center;
}

/***********************************************************************
/* Styles für eine hervorzuhebende Textbox                              *
/***********************************************************************/
#box-emph{
	text-align:center;
	padding-top:10px;
	padding-bottom:25px;
	font-weight:bold;
	color:red;
}

/***********************************************************************
/* Style für eine umrandete Textbox                                    *
/***********************************************************************/
#box-dashed{
	border-color: rgb(128,128,128);/*#FFA500;   /* orange */
    border-style: dashed;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
}
/***********************************************************************
/* Titel- Tag                            *
/***********************************************************************/
#title {
padding-top:25px;
height:20px;
color:blue;
text-align:center;
}

/** IE- Hack */
* html title{
	padding-top:25px;
	height:20px;
	color:blue;
	text-align:center;
}

/***********************************************************************
/* Style für header                                                      *
/***********************************************************************/
#header-container{
	padding:0px;
}

/* Link-Style für das Titelmenü */
#header-container a:link{color: rgb(100,100,100);text-decoration:none;}
#header-container a:visited{color: rgb(100,100,100);text-decoration:none;}
#header-container a:active{color: rgb(100,100,100);text-decoration:none;}
#header-container a:hover{
	border: 1px solid;
	border-color: rgb(128,128,128);
	text-decoration: none; /* overline underline;*/
	background-color:white;
	color:rgb(128,128,128);
}


/***********************************************************************
/* Das Menu unterhalb der Titelleiste                                  *
/***********************************************************************/
#title-menu{
	background-color:rgb(227,227,227);/*rgb(233,233,233);*/
	border-color: rgb(128,128,128);/*#FFA500;   /* orange */
    border-style: solid;
    border-top-width: 2px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: blue;
    padding:10px;
    font-weight:bold; font-size:75%;
}

/***********************************************************************
/* Style für body                                                      *
/***********************************************************************/
#content-container{
	background-color: white;
	border-color: rgb(128,128,128);/*#FFA500;   /* orange */
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    padding-top:10px;
	padding-bottom:30px;
	padding-left:10;
	padding-right:10;
	margin-top:10px;
	margin-bottom:10px;
}
/* IE-Hack */
* html #content_container {
	padding:0.5em;
	height:80%;
	overflow:auto;
}
/* linkstyles */
#content-container a:link {text-decoration:none; color:blue;}
#content-container a:visited {text-decoration:none; color:blue;}
#content-container a:active {text-decoration:none; color:blue;}
#content-container a:hover { text-decoration:underline; color:red; }



/***********************************************************************
/* Das Footer-Menu                                                     *
/***********************************************************************/
#footer-menu{
	background-color:rgb(227,227,227);
	border-color: rgb(128,128,128);/*#FFA500;   /* orange */
    border-style: dashed;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    padding-top:5px;
    padding-bottom:5px;
    color:#00008B; /* dunkelblau */
    font-size:80%;
	text-align:center;
	font-weight:bold;
}


/***********************************************************************
/* interne Seitennavigation                                            *
/***********************************************************************/
#page_nav{
	margin-top:15px;
	margin-bottom:15px;
	background-color:rgb(233,233,233);
    padding:5px;
    font-weight:bold; font-size:75%;
    text-align:left;
}

/***********************************************************************
/* ein Rätsel                                                          *
/***********************************************************************/
#raetsel fieldset {
font:12px verdana;
background-color:rgb(255,255,255);
border:1px solid #000000;
padding:10px;
}
#raetsel legend {
font:bold 13px  Arial sans-serif;
background-color:#00FF00;
}
.answers{
	margin-top:15px;
	padding:10px;
	border:2px solid rgb(255,0,255);
	background-color:rgb(255,255,255);
}
.tableW {
	margin-top:15px;
	padding:5px;
	background-color:rgb(255,255,255);
}
#raetsel td {
	font-family: Arial, sans-serif;
	font-weight:bold;
	font-size:16px;
}
#raetsel fieldset auswertung {
	font-family: Arial, sans-serif;
	font-weight:bold;
	font-size:16px;
}
div#answers{
	clear:both;
}
div#answers ul{
	marging-top:15px;
	padding:5px;
	list-style:none;
	border:2px solid rgb(0,0,255);
}
div#answers li{
	display:inline-block;
	text-align:center;
	font-family: Arial, sans-serif;
	font-weight:bold;
	font-size:16px;
	padding:8px;
}

div#metatext{
	clear:both;
}
div#metatext ul{
	list-style:none;
}
div#metatext li{
	text-align:center;
	font-family: Arial, sans-serif;
	font-weight:bold;
	font-size:16px;
	padding:0px;
}

input.btn {
	font-family: Arial, sans-serif;
	font-weight:bold;
	font-size:14px;
}

